[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    info

[INPUT]
    Name         tail
    Path         /var/log/syslog
    Tag          syslog.*
    Refresh_Interval 10
    DB           /var/log/flb_syslog.db
    Mem_Buf_Limit 5MB
    Skip_Long_Lines On
    Parser       syslog

[INPUT]
    Name         tail
    Path         /var/log/openvpn.log
    Tag          openvpn.*
    Refresh_Interval 10
    DB           /var/log/flb_openvpn.db
    Mem_Buf_Limit 5MB
    Skip_Long_Lines On
    Parser       syslog

[FILTER]
    Name         grep
    Match        syslog.*
    Regex        level ($i){{ log_levels }}

[FILTER]
    Name         grep
    Match        openvpn.*
    Regex        level ($i){{ log_levels }}

[OUTPUT]
    Name         splunk
    Match        *
    Host         {{ splunk_host }}
    Port         {{ splunk_port }}
    Splunk_Token {{ splunk_token }}
    splunk_send_raw {{ splunk_send_raw }}
    splunk_sourcetype {{ splunk_source_type }}
    splunk_index {{ splunk_index }}
    tls.verify   Off

